.contactMe {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.contactMe-content {
    width: 80%;
}

.contactMe .goBack {
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: fit-content;
    display: flex;
    gap: .5rem;
    font-family: var(--primary-font-family);
    font-size: 1.1rem;
}

.contactMe .goBack:hover {
    color: #0d6efd;
    cursor: pointer;
}

.contactMe .goBack i {
    display: flex;
    align-items: center;
}

.contactMe .goBack .backTxt {
    margin: 0;
}

.contact-head {
    text-align: left;
    padding: 0;
    color: var(--primary-theme-color);
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 2.3rem;
}

.contactForm p {
    font-family: var(--secondary-font-family);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    opacity: .9;
    letter-spacing: 1px;
}

.contactForm form {
    font-family: var(--secondary-font-family);
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    border: 1px solid rgb(0 0 0 / .2);
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
}

.contactForm form .form-name {
    flex: 1 1 8rem;
}

.contactForm form .form-mail {
    flex: 1 1 8rem;
}

.contactForm form .form-phNumber {
    flex: 1 1 8rem;
}

.contactForm form .form-subject {
    flex: 1 1 100%;
}

.contactForm form .form-message {
    flex: 1 1 100%;
}

.contactForm form .form-message input {
    height: 10rem;
}

footer.lower_footer p {
    margin: 0;
}

.footer-section h3 {
    font-family: var(--primary-font-family);
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 2rem;
    position: relative;
}

.footer-section .contactMe-info p {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .contactMe-content {
        width: 90%;
    }
    .contactForm form {
        width: 100%;
    }
}